body,
html {
  background-color: #a60001;
  height: 100%;
}

:root {
  font-family: "Roboto";
}

header {
  display: flex;
  justify-content: center;
  flex: 1;
}

.banner {
  box-shadow: 0 0 20px 25px #a60001 inset;
  background-image: url("./imgs/paprika_banner.png");
  background-size: contain;
}

.banner img {
  visibility: hidden;
}

.container {
  padding: 1rem 10rem;
}

content {
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 3rem;
  background-color: #f2b3b3;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  margin-top: 1rem;
  font-size: 20px;
  line-height: 2rem;
}

footer {
  padding: 1rem;
  text-align: center;
}

footer a {
  color: #ffc300;
  margin: 0rem 1rem;
}
